/PCB Outline.dxf
/RFM69HCW-XXXS2.kicad_mod
/STM32 PIR Sensor.kicad_pcb
/STM32 PIR Sensor.kicad_pro
/STM32 PIR Sensor.kicad_sch
/STM32 PIR Sensor.step
/STM32 PIR Sensor.wrl
/Sensor_PIR.kicad_sym
/fp-lib-table
/mmWave.kicad_sym
/pir_sensor.kicad_sch
/sym-lib-table
/PCB Outline.DXF
