/STM32 PIR Sensor-B_Cu.gbr
/STM32 PIR Sensor-B_Mask.gbr
/STM32 PIR Sensor-B_Paste.gbr
/STM32 PIR Sensor-B_Silkscreen.gbr
/STM32 PIR Sensor-Edge_Cuts.gbr
/STM32 PIR Sensor-F_Cu.gbr
/STM32 PIR Sensor-F_Mask.gbr
/STM32 PIR Sensor-F_Paste.gbr
/STM32 PIR Sensor-F_Silkscreen.gbr
/STM32 PIR Sensor-NPTH.drl
/STM32 PIR Sensor-PTH.drl
/STM32 PIR Sensor.zip
