/STM32 PIR Sensor-B_Cu.gbl
/STM32 PIR Sensor-B_Mask.gbs
/STM32 PIR Sensor-B_Silkscreen.gbo
/STM32 PIR Sensor-Edge_Cuts.gm1
/STM32 PIR Sensor-F_Cu.gtl
/STM32 PIR Sensor-F_Mask.gts
/STM32 PIR Sensor-F_Silkscreen.gto
/STM32 PIR Sensor-NPTH-drl_map.gbr
/STM32 PIR Sensor-NPTH.drl
/STM32 PIR Sensor-PTH-drl_map.gbr
/STM32 PIR Sensor-PTH.drl
/STM32 PIR Sensor.zip
